.container1,
.container2,
.container3,
.container4,
.container5 {
  background-color: rgba(23, 32, 41, 255);
  text-align: center;

  flex: 1;
  list-style-type: none;
}

.container1,
.container2,
.container3,
.container4 li {
  position: relative;
}

.card {
  display: flex;
  border-radius: 20px;
  flex-direction: column;
}

h3 {
  color: rgba(251, 255, 255, 255);
}

.container1,
.container3,
.container4 {
  color: rgba(212, 219, 224, 255);
}

.container2 {
  color: rgba(209, 58, 86, 255);
}

li {
  border-bottom: solid rgba(59, 67, 80, 255);
  border-bottom-width: thin;
  padding: 30px;
  height: 80px !important;
  display: flex;
  justify-content: center;
  font-size: 22px;
  align-items: center;
}

@media (max-width: 592px) {
  li {
  }
}

.container-wrapper {
  display: flex;
}

.bar {
  display: flex;
  width: 100%;
}

.bar h3 {
  flex: 1;
  text-align: center;
}
